In [ ]:
          '''Python functions''''

In [ ]:
1.A function is a block of code which only runs when it is called
2.We can pass the data know as parameters into a function
3.A function can return data as a result.

In [ ]:
**Creating a Function**
In python a function is defined using def keyword:

In [3]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [ ]:
**Calling a Function**
To call a function,use the function name followed by paranthesis

In [5]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
**Arguements**
1.Information can be passed in a functions as arguments
2.Arguments are specified after the function name,inside the parentheses
3.We can add as many arguments as our need,jusr seperate them with a comma.
4.

In [7]:
def my_function(fname):
    print(fname+"resnes")
my_function("email")

emailresnes

In [ ]:
** Parameters or Arguements?
The terms parameters and arguments can be use for the same thing:
                                             information that are passed into afunction.

In [ ]:
1.A parameter is the variable listed inside the parentheses in the function definition.
2.An argument is the value that is sent to the function when it is called.

In [ ]:
** Number of Arguments
By default, a function must be called with the correct number of arguements .
Meaning that if your function expects 2 arguments ,you have to call function with 2 arguments ,not more and not less

In [11]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("srini", "vasulu")

srini vasulu

In [ ]:
If you try to call the function with 1 or 3 arguments, you will get an error:

In [13]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("srini")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
**Arbitary Arguments ,*args

If we do not know how many arguments that will passed into our function
add * before the parameter name in the function defination

This way the function will recieve a tuple of arguments and can access the items accordingly

In [33]:
def my_function(*name):
    print("My name is:"+name[0])

my_function("sri","vasu","gadham")

My name is:sri

In [ ]:
**keyword Arguments**
we can also send arguments with the key=value synatx
this way order of the arguements does not matter.

In [49]:
def my_function(child3,child2,child1):
    print("the youngest child is :"+child3)

my_function(child1="vasu",child2="sri",child3="sai")

the youngest child is :sai

In [ ]:
"""Arbitary Keyword Arguments"""
**kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: 
** before the parameter name in the function definition.

In [53]:
def my_function(**kid):
    print("His last name is:"+kid["fname"])

my_function(fname="vasu",lname="sai")

His last name is:vasu

In [ ]:
"""Default parameter value"""
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [63]:
def my_function(country="indian"):
    print("I am an "+country)

my_function("sweden")
my_function("India")
my_function()

I am an sweden
I am an India
I am an indian

In [ ]:
"""Passing a List as an Argument"""
We can send any data types of arguements to a function(string,number,list,dictionary)
and it will treated as the same data type inside the function.

In [87]:
def my_function(food):
    for i in food:
        print(i)

fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [89]:
"""Return Values"""
TO let a function return a value,use the return statement:

'Return Values'

In [97]:
def my_function(x):
    return x*4

print(my_function(2))
print(my_function(5))
print(my_function(9))

8
20
36

In [ ]:
"""The pass Statement"""

In [ ]:
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [103]:
def myfunction(s):
    pass

myfunction("hi")

In [ ]:
"""Positional-Only Arguments"""

In [ ]:
We can specify that a function can have only positional arguments or only keyword arguments.

In [ ]:
To specify that a function can have only positional arguments, add , / after the arguments:

In [117]:
def my_function(x,/):
    print(x)

my_function(12)

12

In [119]:
def my_function(x,/):
    print(x)

my_function(x=12)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

In [ ]:
Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments:

In [121]:
def my_function(x):
    print(x)

my_function(x=3)

3

In [ ]:
"""Keyword-Only Arguments"""
To specify that a function can have only keyword arguments , add*,before the arguements

In [123]:
def my_function(*,x):
    print(x)

my_function(x=2)

2

In [ ]:
But when adding the *, / you will get an error if you try to send a positional argument:

In [125]:
# Example
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [ ]:
"""Combine Positional-Only and Keyword-Only"""
We can combine both rwo arguments types in a same function
Any arguments before the/,are positional-only,and any argument after the*,are keyword only

In [127]:
def my_function(a,b,/,*,c,d):
    print(a+b+c+d)

my_function(5,6,c=3,d=23)

37

In [ ]:
***Recursion***
1.Python also accepts function recursion,which means a defined function can call itself
2.Recursion is a common mathematical and programming concept.
3. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.
4.

In [ ]:
In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). 
We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

In [151]:
def tri_recursion(k):
    if(k>0):
        result=k+tri_recursion(k-1)
        print(result)
    else:
        result=0
    return result

print("\n\nRecursuion example results")
tri_recursion(5)
# Let's walk through the execution of tri_recursion(5):

# Step 1 (k = 5):

# Calls tri_recursion(4).
# Waits for the result of tri_recursion(4).
# Step 2 (k = 4):

# Calls tri_recursion(3).
# Waits for the result of tri_recursion(3).
# Step 3 (k = 3):

# Calls tri_recursion(2).
# Waits for the result of tri_recursion(2).
# Step 4 (k = 2):

# Calls tri_recursion(1).
# Waits for the result of tri_recursion(1).
# Step 5 (k = 1):

# Calls tri_recursion(0).
# Waits for the result of tri_recursion(0).
# Step 6 (k = 0):

# Returns 0 (base case).
# Now, we go back up the recursive calls:

# Step 5 (k = 1):

# result = 1 + 0 = 1
# Prints 1
# Returns 1
# Step 4 (k = 2):

# result = 2 + 1 = 3
# Prints 3
# Returns 3
# Step 3 (k = 3):

# result = 3 + 3 = 6
# Prints 6
# Returns 6
# Step 2 (k = 4):

# result = 4 + 6 = 10
# Prints 10
# Returns 10
# Step 1 (k = 5):

# result = 5 + 10 = 15
# Prints 15
# Returns 15
# The final output of the f

Recursuion example results
1
3
6
10
15

15

In [143]:
import sys
print(sys.getrecursionlimit())
def greet():
    print("hello")
    greet()

3000

In [25]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [30]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [34]:
 help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [62]:
def user_input():
    name=str(input("eneter your name"))
    return name
def display_name(x):
    print("name of customer is:",x)

In [64]:
name=user_input()
display_name(name)

eneter your name vasu

name of customer is: vasu

In [68]:
def absolute_value(num):
    if num>=0:
        return num
    else:
        return -num

no=int(input("enter the no"))
print(absolute_value(no))

enter the no -23

23

In [70]:
 print(absolute_value(-2))

2

In [72]:
 print(absolute_value(-200))

200

In [ ]:
local variables: variables declare inside the function

In [76]:
def myfunc():
    a=78
    print("the value of myfunc is {}".format(a))

myfunc()
print("the value outside the funct is {}".format(a))

the value of myfunc is 78

NameError: name 'a' is not defined

In [ ]:
global variable:
variables declare iutside the function

In [82]:
def my_func():#3
     x=5#4
     print("value inside the functionis{}".format(x))#5
x=10 #1
my_func() #2
print("the value out side the func is{}".format(x))#6

value inside the functionis5
the value out side the func is10

In [86]:
def addsum(a,b):
    sum=a+b
    product=a*b
    return sum,product

x,y=addsum(12,12)
print(x,y)

24 144

In [96]:
a="ms"
b="dhoni"
print(a,b,sep=" ", end="*")

ms dhoni*

In [98]:
print(a,b,sep="*",end="&&")

ms*dhoni&&

In [ ]:
default arguments: example

In [102]:
def food_order(sweet,main_course,quantity=1):
    quantity=1
    print("your order is {}kg {} and in sweet {}".format(quantity,main_course,sweet))

food_order("Ice cream","Non veg biryani",3)

your order is 1kg Non veg biryani and in sweet Ice cream

In [104]:
def greet_msg(name="evryone",msg="Good Morning"):
    print("Hello", name," ," ,msg)

greet_msg()

Hello evryone  , Good Morning

In [106]:
greet_msg("Dhoni")

Hello Dhoni  , Good Morning

In [108]:
 greet_msg("Dhoni","good eveing")

Hello Dhoni  , good eveing

In [ ]:
 *** Keyword Argument

In [ ]:
 order of arguments can be changed
- when we call a function this values, get assigned to the arguments according␣
 ↪to der positions

In [110]:
def IPL(name,team,tropy):
    print("I am ",name)
    print("My team ",team)
    print("I won ",tropy)

IPL("virat","RCb","icc")

I am  virat
My team  RCb
I won  icc

In [116]:
  IPL(team="CSK",tropy=2,name="dhoni")

I am  dhoni
My team  CSK
I won  2

In [118]:
def IPL(player_name="sachin",team='MI',trophy="5"):
    print("The player name is:",player_name)
    print("The team name is:",team,trophy)

IPL(team="CSK",trophy=2,player_name="dhoni")

The player name is: dhoni
The team name is: CSK 2

In [120]:
details(city="Satara",age=24,"Vijay mane")

SyntaxError: positional argument follows keyword argument (1889973911.py, line 1)

In [ ]:
6 **kwargs

In [126]:
def Our_batch_details(**details):
    print(details)
    print(type(details))

Our_batch_details(name="bhushan",batch=5,Branch="Entc",City="vizag")

{'name': 'bhushan', 'batch': 5, 'Branch': 'Entc', 'City': 'vizag'}
<class 'dict'>

In [129]:
 Our_batch_details("male",name="bhushan",batch=5,Branch="Entc",City="vizag")

TypeError: Our_batch_details() takes 0 positional arguments but 1 was given

In [131]:
 def Our_batch_details(*other,**details):
    print(details)
    print(other)
 Our_batch_details("male","123","78%","paid",name="bhushan",batch=5,Branch="Entc",City="vizag")

{'name': 'bhushan', 'batch': 5, 'Branch': 'Entc', 'City': 'vizag'}
('male', '123', '78%', 'paid')

In [133]:
def cricket(name,team1,*teams,**tittle):
    print(name)
    print(teams)
    print(tittle)
    print(team1)
cricket("Dhoni","CSK","RCB","PWI",T20=1,ODI=1,CT=1,IPL=4)

Dhoni
('RCB', 'PWI')
{'T20': 1, 'ODI': 1, 'CT': 1, 'IPL': 4}
CSK

In [ ]:
                     '''python lambda function'''

In [ ]:
A lambda function is a small anonymous(without name) function 
A lambda function can take any number of arguments,but can only have one expression

In [ ]:
Syntax:
lambda arguments: expression

In [1]:
x=lambda a:a+10
print(x(4))

14

In [ ]:
Lambda function can take any number of arguements but take only one expression

In [3]:
x=lambda a,b:a*b
print(x(2,4))

8

In [7]:
x=lambda a,b,c:a*b*c
print(x(2,4,34))

272

In [ ]:
**Why use Lambda function?
The power of lambda function better shown when you use them as an anonymous function inside the another function.
Say you have a function defination that takes one arguement,and that argument wil be multipllied with an unknown number

In [17]:
def myfunc(n):
    return lambda a:a*n

mydoubler=myfunc(2)
print(mydoubler(11))

22

In [ ]:
or, use the same function defination to make a function that always triples the number you send in.

In [19]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
Or, use the same function definition to make both functions, in the same program:

In [21]:
def myfunc(n):
    return lambda a:a*n

mydoubler=myfunc(2)
mytripler=myfunc(3)
print(mydoubler(3))
print(mytripler(4))

6
12

In [23]:
firstname= "    ms    "
lastname="      dhoni  "
full_name=lambda firstname,lastname:(firstname.strip().title()+" "+lastname.strip().title())
full_name(firstname,lastname)

'Ms Dhoni'

In [135]:
full_name("virat","kohli")

'Virat Kohli'

In [137]:
def even_check(n):
    if n%2==0:
       return True
    else:
        return False

even_check(2)

True

In [139]:
even_check(3)

False

In [141]:
even_check_lam=lambda n:n%2==0
even_check_lam(2)

True

In [143]:
even_check_lam(3)

False

In [145]:
def comparefunc(a,b):
    if a>b:
        return True
    else:
        return False

comparefunc(12,23)

False

In [147]:
compare=lambda a,b:a>b
compare(12,23)

False

In [151]:
larger=lambda x,y:x if x>y else y
larger(12,21)

21

In [ ]:
**sort

In [155]:
cricket=["srinu","vasu","avakaay"]
cricket.sort()
cricket

['avakaay', 'srinu', 'vasu']

In [161]:
cricket.sort(key=lambda x:len(x))
cricket

['vasu', 'srinu', 'avakaay']

In [165]:
key=[4,2,7]
len("srinu")

5

In [167]:
cricket.sort(key=lambda x:len(x),reverse=True)
cricket

['avakaay', 'srinu', 'vasu']

In [169]:
cricket_scores=[("ABD",1000),("VIRAT",20000),("ROHIT",1000)]
cricket_scores.sort()
cricket_scores

[('ABD', 1000), ('ROHIT', 1000), ('VIRAT', 20000)]

In [173]:
cricket_scores=[("ABD",1000),("VIwRAT",20000),("ROHIT",1000)]
cricket_scores.sort(key=lambda x:len(x[0]))
cricket_scores

[('ABD', 1000), ('ROHIT', 1000), ('VIwRAT', 20000)]

In [175]:
cricket_scores=[("ABD",1000),("VIwRAT",20000),("ROHIT",1000)]
cricket_scores.sort(key=lambda x:len(x[0]),reverse=True)
cricket_scores

[('VIwRAT', 20000), ('ROHIT', 1000), ('ABD', 1000)]

In [179]:
cricket_scores=[("ABD",1000),("VIwRAT",20000),("ROHIT",1000)]
cricket_scores.sort(key=lambda x:x[1],reverse=True)
cricket_scores

[('VIwRAT', 20000), ('ABD', 1000), ('ROHIT', 1000)]

In [183]:
marks=[{"name":"Atish","marks":15},{"name":"Ajay","marks":14},{"name":
 "Amit","marks":19}]
marks

[{'name': 'Atish', 'marks': 15},
 {'name': 'Ajay', 'marks': 14},
 {'name': 'Amit', 'marks': 19}]

In [185]:
marks.sort(key=lambda x:x["marks"])
marks

[{'name': 'Ajay', 'marks': 14},
 {'name': 'Atish', 'marks': 15},
 {'name': 'Amit', 'marks': 19}]

In [187]:
marks.sort(key=lambda x:x["name"])
marks

[{'name': 'Ajay', 'marks': 14},
 {'name': 'Amit', 'marks': 19},
 {'name': 'Atish', 'marks': 15}]

In [189]:
ord("y")

121

In [191]:
marks.sort(key=lambda x:(x["marks"],len(x["name"])),reverse=True)
marks

[{'name': 'Amit', 'marks': 19},
 {'name': 'Atish', 'marks': 15},
 {'name': 'Ajay', 'marks': 14}]

In [203]:
name=["Viarat kohli","kl rahul","Zaheer khan"]
"kl rahul".split(" ")[0]

'kl'

In [209]:
name=["Viratttttttttt kohli","Kl rahul,","Zaheer khan"]
name.sort(key=lambda x:len(x.split(" ")[0]))
name

['Kl rahul,', 'Zaheer khan', 'Viratttttttttt kohli']

In [ ]:
Use of lambda function in python
1.fliter
*This is used to filter some elements of list or iterable conditions
2.the returned list will give elements which are True for what that condition
3.fliter function takes in a function and a list as argument

In [ ]:
filter(function,iterable)

In [215]:
my_list=[1,2,3,45,6,7,7,8,]
list(filter(lambda x:x%2==0,my_list))

[2, 6, 8]

In [221]:
list(filter(lambda x:x%2!=0,[1,2,3,4,5,6,67,8,899,9,10]))

[1, 3, 5, 67, 899, 9]

In [223]:
larger_no=lambda x,y:x if x>y else y
larger_no(12,32)

32

In [225]:
data=[12,23,34,5,6234,2,2,2334,32]
avg=sum(data)/len(data)
avg

964.2222222222222

In [229]:
list(filter(lambda x:x>avg,data))

[6234, 2334]

In [ ]:
#removing missing data

In [ ]:
" ",0,0.0,0j,[],(),{},False,None

In [233]:
main_data=[" ",0,0.0,0j,[],(),{},False,None,1,2,3,44,"dhoni"]
list(filter(None,main_data))

[' ', 1, 2, 3, 44, 'dhoni']

In [ ]:
"Map"

In [ ]:
This function executes a specified function on each element of the iterable(sequenace ) and perfaps change the elements.

In [ ]:
Syntax:map(function,iterable)

In [248]:
sample_list=[1,2,3,4]
list(map(lambda x:x**2,sample_list))

[1, 4, 9, 16]

In [258]:
def even_odd_check(n):
    if n%2==0:
        return "Even"
    else:
        return "ODD"

even_odd_check(12)

'Even'

In [260]:
new_list=[1,2,3,4,5,6]
list(map(even_odd_check,new_list))

['ODD', 'Even', 'ODD', 'Even', 'ODD', 'Even']

In [278]:
temp_id=[("delhi",12),("mubai",22),("pune",23)]
Celius_to_fer=lambda x:(x[0],(x[1]*(9/5)+32))

In [280]:
list(map(Celius_to_fer,temp_id))

[('delhi', 53.6), ('mubai', 71.6), ('pune', 73.4)]

In [282]:
Celius_to_fer=lambda x:((x[1]*(9/5)+32))
list(map(Celius_to_fer,temp_id))

[53.6, 71.6, 73.4]

In [292]:
Celius_to_fer=lambda x:((x[0].upper(),x[1]*(9/5)+32,x[0]))
list(map(Celius_to_fer,temp_id))

[('DELHI', 53.6, 'delhi'), ('MUBAI', 71.6, 'mubai'), ('PUNE', 73.4, 'pune')]

In [ ]:
"Reduce"

In [ ]:
This function is used to reduce a sequence of elemnts to a single value by processing the elements according tothe function applied

In [ ]:
- it returns single value

In [ ]:
- not availble default so we have to use functools module to import and use it

In [ ]:
Syntax:
reduce(function,sequence)

In [ ]:
my=[1,2,3,4]

In [294]:
lambda x,y:x+y

In [ ]:
from functools import reduce

In [300]:
from functools import reduce
my=[1,2,3,4]
reduce(lambda x,y:x*y,my)

24

In [302]:
reduce(lambda x,y:x+y,my)

10

In [461]:
x=int(input("enter the no"))
fact_list=list(range(1,x+1))
fact=reduce(lambda x,y:x*y ,fact_list)
print("the factorail of {} is {}".format(x,fact))

enter the no 4

TypeError: 'list' object is not callable

In [ ]:
 lambda:
-anonomys fun
-fun without name
-syntax(lambda argument:exp)
- argument can be many and exp will one
- no def keyword is used
- return is not needed
- we can use lambda with high order functions such (filter,map,reduce)

filter:
 filter(func,seq)
 return the true values
 list(filter(fun,sq))

 map:
 map(func,seq)
 perfom the operations on all value based on fun
 list()

reduce:
 not by default
 functions to use it
 helps to reduce seqencetooneelement
 reduce(fun,sequence)

In [314]:
my_list=[[10,20,30],[40,50,60]]
list(map(lambda x:(x[0]*2,x[1]*3,x[2]*2),my_list))

[(20, 60, 60), (80, 150, 120)]

In [316]:
my_list=[[10,20,30],[40,50,60]]
my_list

[[10, 20, 30], [40, 50, 60]]

In [338]:
add=lambda x,y:x*15 
add(3)

45

In [340]:
add=lambda x,y:x  if x>y else y
add(23,34)

34

In [366]:
tuple1=[("english",32),("maths",23),("Science",53)]
tuple1.sort(key=lambda x:x[1])
tuple1

[('maths', 23), ('english', 32), ('Science', 53)]

In [419]:
my_list=[1,2,3,4,5,6,7,8]
list(filter(lambda x:x%2==0,my_list))

TypeError: 'list' object is not callable