In [ ]:
"""Python Booleans"""

In [ ]:
Booleans represent one of two values: True or False.

In [ ]:
When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
When you run a condition in an if statement, Python returns True or False:

In [ ]:
Print a message based on whether the condition is True or False:

In [3]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
'''Evaluate Values and Variables'''

In [ ]:
The bool() function allows you to evaluate any value, and give you True or False in return,

In [5]:
# Example
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [7]:
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
Most Values are True

In [ ]:
1.Almost any value is evaluated to True if it has some sort of content.

2.Any string is True, except empty strings.

3.Any number is True, except 0.

4.Any list, tuple, set, and dictionary are True, except empty ones.

In [11]:
# The following will return True:

print(bool("abc"),
bool(123),
bool(["apple", "cherry", "banana"]),)

True True True

In [ ]:
Some Values are False

In [ ]:
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [13]:
# The following will return False:

print(bool(False),
bool(None),
bool(0),
bool(""),
bool(()),
bool([]),
bool({}),)

False False False False False False False

In [ ]:
# One more value, or object in this case, evaluates to False, and that is if you have an object that is
# made from a class with a __len__ function that returns 0 or False:

In [15]:
class myclass():
    def __len__(self):
        return 0
myobj=myclass()
print(bool(myobj))

False

In [ ]:
'''Functions can return a boolean value'''

In [ ]:
you can create a function that returns a boolean value

In [17]:
def myFunction():
    return True
print(myFunction())

True

In [ ]:
You can execute code based on the Boolean answer of a function:

In [ ]:
print YES if my condition return True otherwise print "no";

In [25]:
def myFunction():
    
    return True
    
if myFunction():
    print("Yes")
else:
    print("No")

Yes

In [ ]:
''isinstance() function also returns boolean value''

In [31]:
x=23
print(isinstance(x,int))

True

In [ ]:
''' Python Operators'''

In [ ]:
operators are used to perform operations on variables and values

In [33]:
# ex:
print(10+23)

33

In [ ]:
Python divides the operators in the following groups:

1.Arithmetic operators
2.Assignment operators
3.Comparison operators
4.Logical operators
5.Identity operators
6.Membership operators
7.Bitwise operators

In [ ]:
'''1.Arithematic Operators'''

In [ ]:
Arithematic operators are used with numeric values to perform mathematical operations

In [ ]:
Operator	            Name	                  Example	
+	                  Addition	                   x + y	
-	               Subtraction                   	x - y	
*	                Multiplication	                 x * y	
/                    	Division                 	x / y	
%	                       Modulus	                  x % y	
**	                    Exponentiation	          x ** y	
//	                    Floor division         	x // y

In [59]:
print(12+23)
print(12-23)
print(12*23)
print(23/23)
print(23%10) #it give remainder value
print(24//4)#It gives quotient value
print(3**3) #here exponently multiplying

35
-11
276
1.0
3
6
27

In [ ]:
'''2.Assighnment Operators'''

In [ ]:
Assignment operators are used to assign values to variables:

In [ ]:
Operator               	Example	                   Same As
=	                       x = 5	               x = 5
+=	                       x += 3	              x = x + 3	
-=	                       x -= 3            	x = x - 3	
*=	                      x *= 3	                x = x * 3	
/=	                     x /= 3	                   x = x / 3	
%=	                       x %= 3	               x = x % 3	
//=	                    x //= 3              	x = x // 3	
**=	                        x **= 3	           x = x ** 3	
&=	                    x &= 3                	x = x & 3	
|=	                     x |= 3	               x = x | 3	
^=	                        x ^= 3	          x = x ^ 3	
>>=	                        x >>= 3          	x = x >> 3	
<<=	                     x <<= 3         	x = x << 3	
:=	                    print(x := 3)         	x = 3
                                                    print(x)

In [7]:
x=10
print(x)
x+=12 #x=x+12
print(x)
x-=12#x=x-12
print(x)
x*=10#x=x*10
print(x)
x/=10#x=x/10
print(x)
x%=7#x=x%7 #remainder
print(x)
x//=1 #x=x//1 #quotient
print(x)
x**=10#x=x**10
print(x)
print(int(x))

10
22
10
100
10.0
3.0
3.0
59049.0
59049

In [ ]:
#Bitwise operators

In [13]:
# 1.bitwise and (&) operator
a=5 # 0101(8421)
b=3#0011 
# if both elements are true(1) it will give true means 1.otherwise 0
print(a&b)

a=23#10111
a&=3#00011#a=a&3
print(a)

1
3

In [23]:
#bitwise or (|) operator

# if both elements are 0 it will give 0 otherwise 1.
a=5#0101
b=4#0100
print(a|b)
a=3#0011
a|=2#0010#a=a|2
print(a)

5
3

In [27]:
# bitwise xor(^) operators
# if both bits are same it will give 0 if it will give 1 if the both bits are different 
a=4#0100
b=2#0010
print(a^b)

a=8#1000
a^=2#0010
print(a)

6
10

In [137]:
# compliment(~)(not) operator
# it will give opisite bits to the real bitslike 1 to 0 and 0 to 1

a=5#0101
# It will give the 2's complement of answer so it is 
# 2's complement means 1's+1
print(~a)
a=16#10000 -> 1's -> 01111->2's->add 1->10000
print(~a)

simply-(a+1)

-6
-17

In [ ]:
left shift(<<)
It means if we give left shit of how many times it will move towads left to that times and on right side it will take 0's

In [41]:
a=5#0101->
01 two bits are move to left means we have only two bits 
0101add two zeros at right 
0  1  0 1 (0  0) left shit bits
32,16,8,4,2, 1 #20
print(a<<2)
#(a*2^n) formula for left shift

20

In [49]:
a=5#0101->0101000
a<<=3 #a=a<<3
print(a)

40

In [ ]:
right shift(>>)
in this we loose the bits how many times we mention and add those deleted bits with 0's

In [51]:
#ex:
a=3#0011->loose all and gives 0
a>>4

0

In [57]:
a=5#0101->0001
a>>2

1

In [ ]:
3.python comparision operators(==,!=,>,<,>=,<=)

In [ ]:
Comparison operators are used to compare two values:

In [59]:
x=4
y=3
print(x==y)

False

In [61]:
print(x!=y)

True

In [63]:
print(x<y)

False

In [65]:
print(x>y)

True

In [67]:
print(x<=y)

False

In [69]:
print(x>=y)

True

In [ ]:
4.python logical opearators

In [ ]:
logical opearotors are used combine condition statements:

In [71]:
1.and (	Returns True if both statements are true)
x=12
if x<12 and x>12:
    print("x is greater")
else:
    print("x is smaller")

x is smaller

In [77]:
2. or(	Returns True if one of the statements is true	)
x=12
if x<12 or x==12:
    print("x is greater")
else:
    print("x is smaller")

x is greater

In [79]:
3.not(	Reverse the result, returns False if the result is true)
x=12
if not(x<12 or x==12):
    print("x is greater")
else:
    print("x is smaller")

x is smaller

In [ ]:
5.python Identity operators

In [ ]:
Identity operators are used to compare the objects not if they are equal ,but if they are equal actually the same object with the same memory l;ocation

In [87]:
1.is(Returns True if both variables are the same object)
x=12
y=12
if x is y:
    print("equal")
else:
    print("not equal")

equal

In [91]:
2.is not(Returns True if both variables are not the same object)
x=12
y=13
if x is not  y:
    print("equal")
else:
    print("not equal")

equal

In [ ]:
6.Membership operators

In [ ]:
Memebership operator are used to test to if a sequence present in an

In [101]:
1.in(	Returns True if a sequence with the specified value is present in the object)
x=["apple","banana","reshma"]
ravi=["ravi","reshama"]
if "reshama" in ravi:
    print("I love you")

I love you

In [105]:
ravi=["ravi","reshama"]
if "reshama"  not in ravi:
    print("I love you")
else:
    print("I hate you")

I hate you

In [135]:
print(~6)#0110->1001>1010

-7