In [11]:
print("Hello World")

Hello World

In [13]:
#Indentation : refers to the spaces at the beggining of the code
if 5>2:
    print("I love u")

I love u

In [ ]:
# pyhton will give the error if you skip the indentation

In [15]:
if 2>4:
print("feeg")

IndentationError: expected an indented block after 'if' statement on line 1 (2481040388.py, line 2)

In [ ]:
# Indentation is upto our need as programmaer and Mainly we will give atleast 4 spaces in the block code

In [17]:
if 2>34:
    print("Hello World")
else:
    print("not Hello World")

not Hello World

In [ ]:
# YOu have use same number of spaces for the new line in same block of code otherwise python will give error

In [39]:
if 2<5:
    print("Hello World")
    #print("hello World not") error takes
print("hello")

Hello World
hello

In [ ]:
#Python Variables: variable are names or Memory Location which are stored a assigned values to them

In [47]:
x=8
y="Hello World"
x,y

(8, 'Hello World')

In [ ]:
                                           """comments"""
python has capability for in_line documentaion means reuse puropse and not needed or skipping

In [49]:
#This is commenting 
print("Hello World")

Hello World

In [ ]:
# Comments can be used to expalin Python Code
#comments can made the code more readble
#Comments can be prevent the code when testing time

In [ ]:
#creating a comment
# this is comment

In [51]:
print("Hello, World!") #This is a comment

Hello, World!

In [ ]:
print("Hello World")
# print("Hello World")

In [ ]:
             """Multiline commenting""""

In [ ]:
# pyhthon doesn't have syntax for multiline commenting but
""" but We can use string text By using tripe quotes"""

In [ ]:
                                          """ Python varibles """

In [ ]:
Variables are containers for storing data values

In [ ]:
                                      """ creating a variable """

In [ ]:
# Python does'nt have anyc command for creating a variable
# only to assign the value to perticular variable

In [55]:
# Ex:
x=3
y="3"
print(x)
print(y)

3
3

In [ ]:
""" variables do not need to decalre any data type and can even change after they have been set"""

In [59]:
x=3 # x is of type int
x="str"
x# x is now of type str
""" it takes only declare time variable not lod one"""

'str'

In [ ]:
"""Casting :If you want to change the data type you can mention that perticular type with the value"""

In [69]:

z=float(3)
z

3.0

In [71]:
x=str(3)
x

'3'

In [73]:
y=int(3)
y

3

In [ ]:
                                              """ type()"""

In [ ]:
# by using this type keyword we can know the which type it is

In [75]:
d=3
type(d)

int

In [77]:
y="str"
type(y)

str

In [ ]:
                                 """ single and double quotes"""
#we can mention the strings with both of them single and double quotes

In [79]:
x="ffe"
x

'ffe'

In [81]:
d='reg'
d

'reg'

In [ ]:
                                   """ Case sensitive"""
# varible names are case sensitive means we didn't use instead of a to A

In [85]:
a=2
A="big A"

A

'big A'

In [87]:
a

2

In [ ]:
                                     """ Variable Names"""
Rules:
1.A variable must start with alphabets are underscore
2.A variable cannot start with number
3.A variable can be alpha_numeric characters and underscores(A-Z,a-z,0-9 and _)
4.Variable names are case sensitive ex: age ,Age,AGE are three different names
5.A variable cannot be any of python keywords like int ,str,if, elif,for ...

In [91]:
                                               """ Legal varables"""
myvar="john"
my_var="sinu"
myVar="vasu"
MYVAR="ravu"
MyVar="mani"
print(myvar)
print(my_var)
print(myVar)
print(MYVAR)
print(MyVar)

john
sinu
vasu
ravu
mani

In [93]:
                                            """ Illegal varibles"""
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2019498739.py, line 2)

In [ ]:
                                         """ Multi Words Varible Names"""
Varible names with  Multiple words can be difficult to read

In [101]:
                                          """Camel Case"""
Each word, except the first, starts with a capital letter:
myVariableName = "John"
myVariableName

'John'

In [ ]:
                                          """Pascal Case"""
Each word starts with a capital letter

In [103]:
MyVariableName="sriniu"
MyVariableName

'sriniu'

In [ ]:
                                            """Snake Case"""
Each word is seperated by a underscore charcter:

In [105]:
my_varible_name="vasu"
my_varible_name

'vasu'

In [ ]:
                                     """Many Values to Multiple Variables"""

In [109]:
x,y,z="vasu","mani",3
x,y,z

('vasu', 'mani', 3)

In [ ]:
                                      """One Value to Multiple Variables"""

In [111]:
x=y=z="srini"
x,y,z

('srini', 'srini', 'srini')

In [ ]:
                                               """Unpack a Collection"""

In [ ]:
If you have collection values in a list or tuple etcc. 
Python allows you to extract the values into variables

In [115]:
friuts=["apple","banana","orenge"]
x,y,z=friuts
x,y,z# we have to give how many values to that number of varibles

('apple', 'banana', 'orenge')

In [ ]:
                                                 """OutPut Variables"""

In [ ]:
Python used print() function for output variables

In [117]:
x="I am data science"
print(x)

I am data science

In [ ]:
In the print() function we can take multiple output variables seperated by comma

In [119]:
x="banana"
y=3
z=24+2j
print(x,y,z)

banana 3 (24+2j)

In [ ]:
You can also use the + operator to output multiple variables:

In [121]:
x="banana"
y=3
z=24+2j
print(x+y+z)
# the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

TypeError: can only concatenate str (not "int") to str

In [127]:
x=4
y=3
z=24+2j
print(x+y+z)

(31+2j)

In [129]:
x="banana"
y="3"
z='4+2j'
print(x+y+z)
#Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

banana34+2j

In [ ]:
For numbers, the + character works as a mathematical operator:

In [131]:
x=9
y=8
print(x+y)

17

In [ ]:
he best way to output multiple variables in the
print() function is to separate them with commas, 
which even support different data types:

In [133]:
x=7
y="grg"
print(x,y)

7 grg

In [ ]:
                                           """Global Variables"""

In [ ]:
Variables that are created ouside of the function block then it is called """Global variables"""

In [ ]:
Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
#creating a variable  outside of the of fuction and use it inside the function

In [137]:
x="srinu"
def myfunc():
    print(x)
myfunc()

srinu

In [ ]:
If we create a same variable in the inside function it will local varible
and it will be only for inside the function it is called """local varibale """
    and the outer variable stable as it is

In [139]:
x="srinu"
def myfunc():
    x="vasu"
    print(x)
myfunc()
print(x)

vasu
srinu

In [ ]:
                               """The global Keyword"""

In [ ]:
Normally ,when we create a variable inside the function then it is local and it will used for only inside function

To create a global varible inside the function,we use global keyword

In [141]:

def myfunc():
    global x
    x="vasu"
   
myfunc()
print(x)

vasu

In [ ]:
Also, use the global keyword if you want to change a global variable inside a function.

In [143]:
x="python"
def func():
    global x
    x="my Pyhton" #changing outside x to inside x value
func()
print(x)

my Pyhton