In [ ]:
                             '''Python Sets'''

In [4]:
myset={"apple","banana","cherry"}
print(myset)

{'apple', 'cherry', 'banana'}

In [ ]:
Set:
Sets are used to store multiple items in a single varaible
A set is a collection which is unoredered,unchangeble*,and unindexed

In [ ]:
Note:
Set items are unchangeble ,but we can remove the items and add the new items

In [ ]:
Sets are written in curly brackets:

In [ ]:
1.Create Set

In [20]:
myset={"apple","banana",14,12,("tuple",)}
print(myset)

{'apple', 'banana', ('tuple',), 12, 14}

In [ ]:
Note :
Sets are unoredered ,so we can not be sure in which order the items will appear

In [ ]:
2.Set Items
Set items are Unordered and unchangeable and do not alllow duplicates values

In [ ]:
'''Unordered'''
Unordered Means that the items in aset do not have a defined ordered
set items can appear in a different in a different ordered evry time you use them,and cannot be reffered to by index or key.

In [ ]:
'''Unchangeable'''
sets are unchangeable that means we cannot change the items after set has been created

In [ ]:
Note:
Once a set is created, you cannot change its items, but you can remove items and add new items.

In [ ]:
'''Duplicates Not Allowed'''
Sets cannot have two items with the same value.

If give duplicate items it will take only unique values

In [22]:
myset={"apple","banana",14,12,("tuple",),12,"apple"}
print(myset)

{'apple', 'banana', ('tuple',), 12, 14}

In [ ]:
Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [26]:
myset={"apple","banana",14,12,("tuple",),12,"apple",True,1}
print(myset)

{'apple', True, 'banana', ('tuple',), 12, 14}

In [28]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True}
print(myset)

{'apple', 1, 'banana', ('tuple',), 12, 14}

In [ ]:
Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [30]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
print(myset)

{'apple', 1, False, 'banana', ('tuple',), 12, 14}

In [32]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,0,False}
print(myset)

{'apple', 1, 0, 'banana', ('tuple',), 12, 14}

In [ ]:
3.Length of set
Using len()  function to get number of items in a set

In [34]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
print(len(myset)) #duplicates cannot considered

7

In [ ]:
4.Set Items - Data Types
Set items can be of any data type:

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1,set2,set3)

{'apple', 'cherry', 'banana'} {1, 3, 5, 7, 9} {False, True}

In [ ]:
A set can contain different data types:

In [38]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
print(myset)

{'apple', 1, False, 'banana', ('tuple',), 12, 14}

In [ ]:
5.type():
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>

In [40]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
print(type(myset))

<class 'set'>

In [ ]:
6.The set() Constructor:
It is also possible to use the set() constructor to make a set.

In [42]:
myset=set(("apple","banana",14,12,("tuple",),12,"apple",1,True,False,0))
print(myset)

{'apple', 1, False, 'banana', 12, 14, ('tuple',)}

In [ ]:
6.Access set items:
You cannot access items in a set by reffering to an indexing or a key

but we can loop through the set items using a for loop ,or ask 
Specified values present in given set or not

In [44]:
myset=set(("apple","banana",14,12,("tuple",),12,"apple",1,True,False,0))
for i in myset:
    print(i)

apple
1
False
banana
12
14
('tuple',)

In [ ]:
Check if "banana" is present in the set:

In [46]:
myset=set(("apple","banana",14,12,("tuple",),12,"apple",1,True,False,0))
if "banana" in myset:
    print("Yes")

Yes

In [ ]:
Check if "banana" is NOT present in the set:

In [48]:
myset=set(("apple","banana",14,12,("tuple",),12,"apple",1,True,False,0))
if "banana"  not in myset:
    print("Yes")
else:
    print("no")

no

In [ ]:
7.Change Items:
Once a set is created, you cannot change its items, but you can add new items.

In [ ]:
7.1:Add Items:
to add items into set we can use set() function

In [52]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
myset.add("iphone")
print(myset)

{'apple', 1, False, 'banana', ('tuple',), 12, 'iphone', 14}

In [ ]:
7.2 ADD SEts:update()
to add items from another set we can use update() function

In [54]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
set1 = {"pineapple", "mango", "papaya"}
myset.update(set1)
print(myset)

{'apple', 1, False, 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}

In [ ]:
7.4Add Any Iterable:
We can add any iterable objext (tuples,lists ,dictionaries)

In [56]:
myset={"apple","banana",14,12,("tuple",),12,"apple",1,True,False,0}
set1 = ("pineapple", "mango", "papaya")
myset.update(set1)
print(myset)

{False, 1, 'papaya', 'banana', 12, 'mango', 14, ('tuple',), 'apple', 'pineapple'}

In [66]:
myset={False, 1, 'papaya', 'banana', 12, 'mango', 14, ('tuple',), 'apple', 'pineapple'}

set1 = ["mango", "mango", "rayuudy",12]
myset.update(set1)
print(myset)

{False, 1, 'apple', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}

In [ ]:
8.Remove set Items :
To remove an items in set we can use the remove() or discard() function

In [76]:
myset={False, 1, 'apple', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}
myset.remove("apple")
print(myset)#Note: If the item to remove does not exist, remove() will raise an error.

{False, 1, 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}

In [86]:
myset={False, 1, 'apple', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}
myset.discard("apple")#Note: If the item to remove does not exist, discard() will NOT raise an error.
print(myset)

{False, 1, 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}

In [88]:
#Note: If the item to remove does not exist, remove() will raise an error.
myset={False, 1, 'apple', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}
myset.remove("ple")
print(myset)

KeyError: 'ple'

In [90]:
#Note: If the item to remove does not exist, discard() will NOT raise an error.

myset={False, 1, 'apple', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}
myset.discard("ale")
print(myset)

{False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}

In [ ]:
8.1: pop():we can also use the pop() method to delete the item,
but here we couldnot know the which item will be deleting

In [98]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
x=set1.pop()

print(x)
print(set1)

False
{1, 'apple', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'pineapple', ('tuple',)}

In [ ]:
8.2 clear() : used to empty the set

In [100]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
set1.clear()
print(set1)

set()

In [ ]:
The del keyword will delete the set completely:

In [102]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
del set1
print(set1) #this will raise an error because the set no longer exists

NameError: name 'set1' is not defined

In [ ]:
9.Loop Sets 
we can loop through the sets using for loop

In [104]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
for i in set1:
    print(i)

False
1
apple
rayuudy
papaya
banana
12
mango
14
pineapple
('tuple',)

In [ ]:
10.Joins sets:
The union()and update() methods Joins all items from both sets
the intersection() method keeps only duplicates
the difference() methods keeps only the items from the first set that are not in in the other set()
The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [ ]:
10.1 union():The union() method returns a new set with all items from both sets.

In [110]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
set2={"apple","kajjjakaya","vasu"}
set3=set1.union(set2)
print(set3)

{False, 1, 'apple', 'kajjjakaya', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 'vasu', 'pineapple', ('tuple',)}

In [ ]:
You can use the | operator instead of the union() method, and you will get the same result.

In [114]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
set2={"apple","kajjjakaya","vasu",15}
set3=set1 | set2
print(set3)

{False, 1, 'apple', 'kajjjakaya', 'rayuudy', 'papaya', 'banana', 12, 'mango', 14, 15, 'vasu', 'pineapple', ('tuple',)}

In [ ]:
10.6 Join Multiple Sets:
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [120]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
set2={"apple","kajjjakaya","vasu",15}
set3 = {"a", "b", "c"}
set4 = {1, 2, 3}
set5 = {"John", "Elena"}
set6 = {"apple", "bananas", "cherry"}
set7=set1 .union( set2,set3,set4,set5,set6)
print(set7)

{False, 1, 'kajjjakaya', 2, 3, 'papaya', 'banana', 12, 'mango', 14, 15, 'John', 'vasu', 'rayuudy', ('tuple',), 'Elena', 'cherry', 'apple', 'a', 'b', 'c', 'bananas', 'pineapple'}

In [ ]:
hen using the | operator, separate the sets with more | operators:

In [122]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'apple', 1, 2, 3, 'a', 'b', 'John', 'c', 'bananas', 'Elena', 'cherry'}

In [ ]:
Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [126]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z=[1,2,"srinu",4,5,]

z = x.union(y,z)
print(z)

{1, 2, 3, 4, 'a', 'srinu', 'b', 5, 'c'}

In [ ]:
Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [ ]:
12.Intersection():Keep ONLY the duplicates
The intersection() method will return a new set, that only contains the items that are present in both sets.

In [128]:
set1={False, 1, 'apple', 'papaya', 'banana', 'pineapple', 12, 'mango', 14, 'rayuudy', ('tuple',)}
set2={"apple","kajjjakaya","vasu",15}
set3 = {"a", "b", ,"apple","c"}
set4 = {1, 2,12, 3}
set5 = {"John", "vasu","Elena"}
set6 = {"apple", "bananas", "cherry"}
set7=set1.intersection(set2,set3,set4,set5,set6)
print(set7)

set()

In [130]:
set7=set1.intersection(set2)
print(set7)

{'apple'}

In [132]:
set7=set1.intersection(set2,set3)
print(set7)

set()

In [ ]:
You can use the & operator instead of the intersection() method, and you will get the same result.

In [134]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

In [ ]:
14.intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [136]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
The values True and 1 are considered the same value. The same goes for False and 0.

In [138]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [ ]:
15.Difference() method will return new set that will conatain only
the items from the first set that ara not present in the other set'

In [140]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [ ]:
You can use the - operator instead of the difference() method, and you will get the same result.

In [142]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [ ]:
Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

In [ ]:
difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [144]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [ ]:
18.Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [146]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'banana', 'google', 'cherry'}

In [ ]:
You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [148]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'microsoft', 'banana', 'google', 'cherry'}

In [ ]:
Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

In [ ]:
20.symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [150]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'google', 'banana'}

In [ ]:
21.isdisjoint():
Definition and Usage
The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

    Return True if no items in set x is present in set y:

In [152]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [ ]:
22.issubset():Return True if all items in set x are present in set y:

In [154]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [156]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x <= y

print(z)

True

In [158]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [ ]:
23.issuperset():Return True if all items set y are present in set x:

In [162]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [164]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x >= y

print(z)

True