In [ ]:
                         """Strings"""

In [ ]:
Strings in python are surrounded by single or multiple quotaions marks

In [ ]:
'hello' is the same as "hello".

In [ ]:
You can display a string literal with the print() function:

In [168]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
"""1.Quotes Inside Quotes"""

In [ ]:
You can mention the inside the string as long as they don't match to quotes surroundings the string

In [170]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
"""2.Assign String to a Variable"""

In [ ]:
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [172]:
a="Hello"
print(a)

Hello

In [ ]:
"""3.Multiline Strings"""

In [ ]:
You can assign a multiple string to a variable by using three quotes:

In [174]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [176]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
"""4.Strings are Arrays"""

In [ ]:
strings in Python are arrays of bytes representing unicode characters.

In [ ]:
However, Python does not have a character data type, a single character is simply a string with a length of

In [ ]:
Square brackets can be used to "access" elements of the string.[]

In [184]:
a="Hello World"
print(a[0])
print(a[1])
print(a[8])
print(a[7])

H
e
r
o

In [ ]:
"""5.Looping Through a String"""

In [ ]:
Since strings are arrays ,we can loop through the characters in strings with for loop

In [202]:
for i in "banana":
   print(i)

b
a
n
a
n
a

In [ ]:
"""6.String Length"""

In [ ]:
to get the length pf the string we can use len() function.

In [204]:
a="data science"
print(len(a)) #Including spaces also

12

In [ ]:
"""7.Check String"""

In [ ]:
to check the certain character is present in given string or not 
by using in keyword

In [206]:
txt="the text of the given string"
print("text" in txt)

True

In [ ]:
Use it in an if statement:

In [212]:
str="string data types"
if "string" in str:
    print("yes,'string' is present.")

yes,'string' is present.

In [ ]:
"""8.Check if NOT"""

In [ ]:
to check if a certain character is not prsent in the given string or not using not in

In [214]:
str=" I am developer"
print( "srinu"not in str)

True

In [226]:
str=" I am developer"
if "z"not in str:
    print( True)
else:
    print(False)

True

In [ ]:
"""9.Slicing"""

In [ ]:
you can return a range of characters by using slicing:

In [ ]:
Specify the start index and end index seperated by colon to return a part of the string

In [ ]:
start:end(end-1):direction

In [228]:
b="Hello World"
print(b[2:5])

llo

In [ ]:
1.Slice From the Start

In [ ]:
By leaving start index the range will start at the fisrt character

In [230]:
b="Hello World"
print(b[:5]) #start=0

Hello

In [ ]:
2.Slice To the End
By  leaving out the end index the range will go to the end

In [232]:
x="I am big fan"
print(x[4:]) #end=0

 big fan

In [ ]:
3.Negative Indexing

In [ ]:
give negative index to start the end of the string

In [ ]:
python
-6-5-4-3-2-1

In [258]:
x="python6776"
print(x[-6:-4])

on

In [ ]:
"""10.Modify Strings"""

In [ ]:
Pthon have a set built in methods that you can use on strings

In [ ]:
1.Upper Case

In [ ]:
The upper() method  returns the upper case string

In [260]:
a="Hello Worls"
print(a.upper())

HELLO WORLS

In [ ]:
2.Lower Case

In [ ]:
The lower() method returns the string in lower case:

In [278]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
3.Remove Whitespace

In [ ]:
The strip method removes the white spaces from the begging or the end:

In [270]:
a=" Hell World! "
print(a.strip())

Hell World!

In [ ]:
4.Replace String

In [ ]:
The replace() method used to replaces a string with another string:

In [274]:
a="Hello World"
print(a.replace("Hello","HI"))

HI World

In [ ]:
5.Split String

In [ ]:
The split() method returns a list where the txt between the specified sepeartoe becomes the list items

In [286]:
a="Hello , World"
print(a.split(","))

['Hello ', ' World']

In [ ]:
"""11. String Conactination"""

In [ ]:
To conacte or combine two strings by using + operator

In [288]:
a="srinu"
b="vasulu"
print(a+b)

srinuvasulu

In [ ]:
To add a space between them, add a " ":

In [290]:
a="srinu"
b="vasulu"
print(a+ " "+b) #spaces

srinu vasulu

In [ ]:
"""12.string format"""

In [ ]:
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [292]:
age=12
txt="My name is"+age
txt

TypeError: can only concatenate str (not "int") to str

In [ ]:
But we can combine strings with int by suing foramat() method

In [ ]:
to specify the F=string simply put an f in front of string literal,add curly brackets {} as placeholders for variables and other operations.

In [294]:
age=72
txt=f"I am big fan,My age is{age}"
print(txt)

I am big fan,My age is72

In [ ]:
1.Placeholders and Modifiers

In [ ]:
A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [298]:
# Add a placeholder for the price variable:
price=59
txt=f"The Price is {price} dollers"
txt

'The Price is 59 dollers'

In [ ]:
A placeholder can include a modifier to format the value.

In [ ]:
A modifier is included by adding a colon :
followed by a legal formatting type, like .2f which means
fixed point number with 2 decimals:

In [306]:
price =23
txt=f"I am big fan {price:.5f} "# it difines with float points
txt

'I am big fan 23.00000 '

In [ ]:
Perform a math operation in the placeholder, and return the result:

In [308]:
txt=f"The price is {price*10}"
txt

'The price is 230'

In [ ]:
"""13.Escape Characters"""

In [ ]:
To insert characters that are illegal in a string, use an escape character.

In [ ]:
An escape character is a backslash \ followed by the character you want to insert.

In [310]:
txt="I as am srini "srinu" egr"
txt

SyntaxError: invalid syntax (3959930686.py, line 1)

In [ ]:
backslash \"string\"

In [312]:
txt="string i am string \"hi vasu\" before"
txt

'string i am string "hi vasu" before'

In [ ]:
1.\'	Single Quote

In [321]:
txt="It's greate"
txt

"It's greate"

In [325]:
print('it \'s greate')

it 's greate

In [ ]:
2.\\	Backslash

In [353]:
txt="this will insert one \\qdw."
print(txt)

this will insert one \qdw.

In [ ]:
3.\n	New Line

In [347]:
txt="this\n world"
print(txt)

this
 world

In [ ]:
4.\r	Carriage Return

In [355]:
txt = "Hello\rWorld!" #it will print right side of the \
print(txt)

World!

In [359]:
t="hi\rwprls"
print(t)

wprls

In [361]:
5.\t	Tab
txt = "Hello\tWorld!"
print(txt)  #It defines spacecs

Hello	World!

In [ ]:
6.\b	Backspace

In [363]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [ ]:
7.\f	Form Feed

In [377]:
txt="Hello\fworld"
print(txt)

Helloworld

In [ ]:
8.\ooo	Octal value

In [379]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [395]:
txt="\123\122\110"
txt

'SRH'

In [ ]:
9.\xhh	Hex value

In [397]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [ ]:
                    """13.String Methods"""

In [ ]:
Python has a set of built-in methods that you can use on strings.

In [ ]:
1.capitilize():Upper case the first letter in this sentence:
and  the rest is lower case.

In [401]:
txt="hi hello namasthey"
print(txt.capitalize())

Hi hello namasthey

In [403]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

In [405]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [ ]:
2.The casefold(): method returns a string where all the characters are lower case.

In [407]:
txt="Hello, And Welcome To My World!"
print(txt.casefold()) #every letter should be lowercase

hello, and welcome to my world!

In [ ]:
3.center():The center() method will center align the string, using a specified character (space is default) as the fill character.
syntax:
string.center(length, character)

In [435]:
#Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

txt="banana"
x=txt.center(20,"*")
print(x)

*******banana*******

In [ ]:
4.count():The count() method returns the number of times a specified value appears in the string.
syntax:
    string.count(value, start, end)

In [ ]:
# Return the number of times the value "apple" appears in the string:

In [463]:
txt="I love apple,apple is good for health"
print(txt.count("apple"))
print(txt.count("a"))
print(txt.count("I"))
print(txt.count("apple",10,24)) #position

2
3
1
1

In [ ]:
5.encode():The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
Syntax
string.encode(encoding=encoding, errors=errors)

In [495]:
txt = "My name is Ståle"# a is differet

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
6.endswith():The endswith() method returns True if the string ends with the specified value, otherwise False.
Syntax
string.endswith(value, start, end)

In [ ]:
Check if the string ends with a punctuation sign (.):

In [469]:
txt="Hello,welcome to my world."
print(txt.endswith("."))

True

In [ ]:
Check if the string ends with the phrase "my world.":

In [473]:
txt="Hello,welcome to my world."
print(txt.endswith("my world."))

True

In [ ]:
Check if position 5 to 11 ends with the phrase "my world.":

In [491]:
txt="Hello,welcome to my world."
print(txt.endswith("my world.",19,24))

False

In [ ]:
7.expandtabs():The expandtabs() method sets the tab size to the specified number of whitespaces.
string.expandtabs(tabsize)

In [501]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H  e  l  l  o
H   e   l   l   o
H         e         l         l         o

In [ ]:
8.find():The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found. (See example below)

In [ ]:
string.find(value, start, end)

In [503]:
txt="Hello,welcome to my world."
print(txt.find("welcome"))

6

In [ ]:
Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

In [509]:
txt="Hello,welcome to my world."
print(txt.find("e",5,15))

7

In [ ]:
Where in the text is the first occurrence of the letter "e"?:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

In [ ]:
If the value is not found, the find() method returns -1,
but the index() method will raise an exception:

In [511]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [ ]:
9.format():The format() method formats the specified value(s) and insert them inside the string's placeholder.
placeholder is defined using curly {} Read more about the placehlders in the placeholder section below
the format() returns the formatted string

In [ ]:
string.format(value1, value2...)

In [517]:
txt="For only {price:.2f} dolers"
print(txt.format(price=49))

For only49.00dolers

In [531]:
price=23
x=f"i am bid {price+45} is big"
print(x)

i am bid 68 is big

In [535]:
#named indexes:
txt1="My name is {fname},I am {age}".format(fname="sriu",age=9)
print(txt1)

My name is sriu,I am 9

In [537]:
#numbered indexes:
txt2="My name is {0}, I'am {1}.".format("john",76)
txt2

"My name is john, I'am 76."

In [539]:
#empty placeholders:
txt3=" I am {} big {}".format("john",23)
print(txt3)

 I am john big 23

In [541]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [543]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [553]:
#Use "^" to center-align the value:

txt = "We have {:^7} chickens."
print(txt.format(49))

We have   49    chickens.

In [549]:
#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=} degrees celsius."

print(txt.format(-5))

The temperature is -5 degrees celsius.

In [555]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [557]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [569]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {:} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [571]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [573]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [585]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(10))

The binary version of 10 is 1010

In [587]:
txt = "The binary version of {0} is {0:c}"#	Converts the value into the corresponding unicode character

print(txt.format(10))

The binary version of 10 is

In [589]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [591]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [595]:
#Use "E" to convert a number into scientific number format (with an upper-case E):
txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [599]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {price:.2f} dollars."
print(txt.format(price=45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

In [607]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [609]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [611]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [613]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

In [615]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

In [ ]:
12.index():The index() method finds the first occurrence of the specified value.
The index() method raises an exception if the value is not found.
The index() method is almost the same as the find() method, the only difference is that the find() method returns -1 if the value is not found. (See example below)

In [ ]:
Syntax
string.index(value, start, end)

In [627]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [629]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [631]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [635]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [ ]:
13.isalnum():The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
string.isalnum()

In [637]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [643]:
txt = "Company 12" #space!=alnum

x = txt.isalnum()

print(x)

False

In [ ]:
14.isalpha():The isalpha() method returns True if all the characters are alphabet letters (a-z).
Syntax
string.isalpha()

In [645]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [647]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [653]:
15.isascii():The isascii() method returns True if all the characters are ascii characters  (a-z).
Syntax
string.isascii()

In [661]:
txt = "Company*&&123"

x = txt.isascii()

print(x)

True

In [ ]:
16.isdecimal():The isdecimal() method returns True if all the characters are decimals (0-9).
Syntax
string.isdecimal()

In [663]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [665]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [ ]:
17.isdigit():The isdigit() method returns True if all the characters are digits, otherwise False.

In [ ]:
Syntax
string.isdigit()

In [667]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [669]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
18.isidentifier():The isidentifier() method returns True if the string is a valid identifier, otherwise False.

In [ ]:
Syntax
string.isidentifier()

In [671]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [673]:
a = "MyFolder"
b = "Demo002"
c = "2bring" #started with num
d = "my demo"#space not aloewd

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [ ]:
18.islower():The islower() method returns True if all the characters are in lower case, otherwise False.

In [ ]:
Syntax
string.islower()

In [675]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [677]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [ ]:
20.isnumeric():The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
Exponents, like ² and ¾ are also considered to be numeric values.

In [ ]:
Syntax
string.isnumeric()

In [679]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [681]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"
#"-1" and "1.5" are NOT considered numeric values,
# because all the characters in the string must be 
# numeric, and the - and the . are not.


print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [ ]:
21.isprintable():The isprintable() method returns True if all the characters are printable, otherwise False.

In [ ]:
Syntax
string.isprintable()

In [683]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [685]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [ ]:
22.isspace():The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [ ]:
Syntax
string.isspace()

In [687]:
txt = "   "

x = txt.isspace()

print(x)

True

In [689]:
txt = "   s   "

x = txt.isspace()

print(x)

False

In [ ]:
23.istitle():The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [ ]:
Syntax
string.istitle()

In [691]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [693]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [ ]:
24.isupper():The isupper() method returns True if all the characters are in upper case, otherwise False.
Numbers, symbols and spaces are not checked, only alphabet characters.

In [ ]:
Syntax
string.isupper()

In [695]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [697]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [ ]:
25.join():The join() method takes all items in an iterable and joins them into one string.

In [ ]:
Syntax
string.join(iterable)

In [699]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [701]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [ ]:
26.ljust():The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [ ]:
Syntax
string.ljust(length, character)

In [2]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [4]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [ ]:
27.lower():The lower() method returns a string where all characters are lower case.

In [ ]:
Syntax
string.lower()

In [6]:
txt="The MaxiMum"
print(txt.lower())

the maximum

In [ ]:
28.The lstrip(): method removes any leading characters (space is the default leading character to remove)

In [ ]:
Syntax
string.lstrip(characters)

In [10]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [12]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [20]:
txt="..,,,....sssvvuuu.....sasu"
print(txt.lstrip(".,svu"))

asu

In [ ]:
29.maketrans():The maketrans() method returns a mapping table that can be used with
the translate() method to replace specified characters.

In [ ]:
Syntax
str.maketrans(x, y, z)

In [22]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [34]:
txt="Hi Sam"
x="mSa"
y="eJo"
mytable=str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe

In [42]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [44]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

In [ ]:
30.partion():The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
The first element contains the part before the specified string.
The second element contains the specified string.
The third element contains the part after the string.

Syntax
string.partition(value)

In [ ]:
1 - everything before the "match"
2 - the "match"
3 - everything after the "match"

In [46]:
txt="I could eat bananas all day"
x=txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
If the specified value is not found,
the partition() method returns a tuple containing:
1 - the whole string,
2 - an empty string, 
3 - an empty string:

In [48]:
txt=" Icolud eat bananas evry day"
x=txt.partition("apple")
print(x)

(' Icolud eat bananas evry day', '', '')

In [ ]:
31.replace():The replace() method replaces a specified phrase with another specified phrase.

In [ ]:
Syntax
string.replace(oldvalue, newvalue, count)

In [50]:
txt=" I like apples"
x=txt.replace("apples","bananas")
print(x)

 I like bananas

In [ ]:
Replace all occurrence of the word "one":

In [54]:
txt="one one two two ith race horse,two two one too"
x=txt.replace("one","fisrt")
print(x)

fisrt fisrt two two ith race horse,two two fisrt too

In [ ]:
Replace the two first occurrence of the word "one":

In [56]:
x=txt.replace("two","second",2)
print(x)

one one second second ith race horse,two two one too

In [ ]:
31.rfind():it finds the last occurence of the specified value.
it returns -1 if value not find
It is similar to rindex method

In [ ]:
Syntax
string.rfind(value, start, end)

In [58]:
txt = "Mi casa, su casa."#last occurence

x = txt.rfind("casa")

print(x)

12

In [60]:
# Where in the text is the last occurrence of the letter "e"?:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [62]:
txt = "Hello, welcome to my world."
 #range btw 5 to 10
x = txt.rfind("e", 5, 10)

print(x)

8

In [64]:
#If the value is not found, the rfind() method returns -1,
#but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q")) #returns -1
print(txt.rindex("q"))# error throws

-1

ValueError: substring not found

In [ ]:
32.rindex():it finds the last occurencces of the specified string
it raise error if value not found in the string
It is similar to rfind()

In [66]:
# Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [68]:
# Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [70]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [72]:
# If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

In [ ]:
33.rjust():will right align the string ,using a specifoed character (space is defalut) as the fill character

In [ ]:
Syntax
string.rjust(length, character)

In [76]:
txt=" virat"
x=txt.rjust(20) #It takes 20 words to the right before value 
print(x)

               virat

In [ ]:
Using the letter "O" at the padding character:

In [78]:
txt="viartkohli"
x=txt.rjust(20,"O")
print(x)

OOOOOOOOOOviartkohli

In [ ]:
34.rpartition(): searches for the last occurences of a specified string,and splits the string into a tuple conataing theree elemensts
The first element contains the part before the specified string.
The second element conatains the specified string
Third element conatins the part after the string

In [ ]:
Syntax
string.rpartition(value)

In [86]:
txt="I colud eat bananas all day, bananas are my fVOURte friuts"
x=txt.rpartition("bananas")
print(x)

('I colud eat bananas all day, ', 'bananas', ' are my fVOURte friuts')

In [ ]:
If the specified value is not found,
the rpartition() method returns a tuple containing:
1 - an empty string, 
2 - an empty string, 
3 - the whole string:

In [88]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [ ]:
35.rsplit(): It splits the string into a list,staring from the right
If no "Max " is specified this method wil return the same as the split().method

In [ ]:
Syntax
string.rsplit(separator, maxsplit)

In [96]:
txt="apple,banana,cherry"
x=txt.rsplit(",")
print(x)

['apple', 'banana', 'cherry']

In [114]:
# Split the string into a list with maximum 2 items:
txt="apple,banana,cherry"
x=txt.rsplit("," ,1)
print(x)

['apple,banana', 'cherry']

In [ ]:
36.split():It splits the string into a list.
You can specify the seperator ,default seperator is any whitespaces

In [ ]:
Syntax
string.split(separator, maxsplit)

In [112]:
txt="virat,dhoni,rohit"
x=txt.split(",",1)
print(x)

['virat', 'dhoni,rohit']

In [116]:
# Split the string, using comma, followed by a space, as a separator:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [118]:
# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [130]:
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 2)

print(x)

['apple', 'banana', 'cherry#orange']

In [ ]:
37.splitlines():The splitlines() method splits a string into a list. The splitting is done at line breaks.

In [ ]:
Syntax
string.splitlines(keeplinebreaks)

In [132]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [134]:
# Split the string, but keep the line breaks:
txt="I am vasu\n ramakrishna\nage is 89"
x=txt.splitlines(True)
print(x)

['I am vasu\n', ' ramakrishna\n', 'age is 89']

In [ ]:
38.startswith():It returns the True if the string starts with the specified value,otherwise False

In [ ]:
Syntax
string.startswith(value, start, end)

In [136]:
# Check if the string starts with "Hello":
txt="Hello ,Welcome to bangloere"
x=txt.startswith("Hello")
print(x)

True

In [146]:
# Check if position 7 to 20 starts with the characters "wel":
txt="Hello,welcome to my world"
x=txt.startswith("wel",6,20) #6 is start point
print(x)

True

In [ ]:
39.strip(): this method removes any leading and tailing whitespaces
leading means at the beggining and tailing means at the nd
You can specify which character(s) to remove, if not, any whitespaces will be removed.

In [ ]:
Syntax
string.strip(characters)

In [150]:
txt="         banana      "
x=txt.strip()
print("In friuts" ,x,"is my favourate")

In friuts banana is my favourate

In [152]:
# Remove the leading and trailing characters:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [ ]:
40.swapcase():It returns a string where all the upper case and lower case and vice versa.
Syntax
string.swapcase()

In [154]:
txt="I am Big Of NTR" # upper to lower to upper
x=txt.swapcase()
print(x)

i AM bIG oF ntr

In [ ]:
41.title():It returns the First letter of the evry Word must be Capital
If the word contains a number or a symbol, the first letter after that will be converted to upper case

In [ ]:
Syntax
string.title()

In [156]:
txt=" I am fan of virat kohli he is king our cricket "
x=txt.title()
print(x)

 I Am Fan Of Virat Kohli He Is King Our Cricket

In [158]:
# Note that the first letter after a non-alphabet letter is converted into a upper case letter:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

In [ ]:
42.translate():return the string where some specified characters are replaced with the characters in a dictionary or in a mapping table
Use the maketrans() method to create a mapping table

In [ ]:
Syntax
string.translate(table)

In [160]:
# Replace any "S" characters with a "P" character:
mydict={83: 80}
txt="Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [162]:
# Use a mapping table to replace "S" with "P":
txt="Hello Sam"
mytable=str.maketrans("S","P")
print(txt.translate(mytable))

Hello Pam

In [164]:
# Use a mapping table to replace many characters:
txt="Hi Sam"
x="mSa"
y="eJo"
mytable=str.maketrans(x,y)
print(txt.translate(mytable))

Hi Joe

In [166]:
# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [168]:
# The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

In [ ]:
43.upper():The upper() method returns a string where all characters are in upper case.
 Symbols and Numbers are ignored.

In [170]:
txt="I am srinivasuLU"
print(txt.upper())

I AM SRINIVASULU

In [ ]:
45.zfill(): It fills the string at starting positionwith 
0 untill the length of mention string

In [ ]:
Syntax
string.zfill(len)

In [172]:
# Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [174]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000