In [ ]:
            '''TUples'''

In [ ]:
mytuple=("srinu","banana","cherry")

In [ ]:
Tuples are used to store multiple items in a single variable
A tuple is a collection which is ordered and unchangeble
tuples are written with round beackets

In [1]:
thistuple=("srinu","banana","cherry")
print(thistuple)

('srinu', 'banana', 'cherry')

In [ ]:
1.Tuple Items 
tuples items are ordered unchangeble and allow duplicates values
tuple items are indexed ,the first item has value start with[0]..

In [ ]:
Ordered:
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

In [ ]:
Unchangeable:
Tuples are unchangeble ,that means we can not change,add,remove the items once they been created

In [ ]:
Allow Duplicates:
Since tuples are indexed, they can have items with the same value:

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
2.Tuple length
To determine how many items a tuple has use the len() function

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

5

In [ ]:
'''Create Tuple With One Item'''
To create one item tuple ,you have add a comma after one item otherwise python will not recognise it as a tuple.

In [21]:
t1 = ("apple",)#tuple
print(t1)

# not tuple
t1 = ("apple")
print(t1)

('apple',)
apple

In [ ]:
3.Tuple Items - Data Types

tuple can be any type of data

In [25]:
t1 = ("apple", "banana", "cherry")
t2 = (1, 5, 7, 9, 3)
t3 = (True, False, False)
print(t1,t2,t3)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False)

In [ ]:
A tuple can contain different data types:

In [35]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(t1)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12})

In [ ]:
4.type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':
<class 'tuple'>

In [37]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(type(t1))

<class 'tuple'>

In [ ]:
5.The tuple() Constructor:
It is also possible to use the tuple() constructor to make a tuple.

In [47]:
t1=tuple(("string",1,12+4j,True,["srinu"],{"set"},{"dict":12}))
print(t1)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12})

In [ ]:
6. - Access Tuple Items:
We can access the tuple items by giving indexing inside the square brackets

In [49]:
t1=tuple(("string",1,12+4j,True,["srinu"],{"set"},{"dict":12}))
print(t1[0])

string

In [61]:
# Negative Indexing
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(t1[-1])

{'dict': 12}

In [ ]:
'''Range of Indexes'''
we can specify the range of indexes by specifying where to start and where to end the range
When you specifying a range the return values will be a new tuple with the specified items.

In [63]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(t1[2:4])

((12+4j), True)

In [65]:
#Remember that the first item has index 0.
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(t1[:4])

('string', 1, (12+4j), True)

In [67]:
# By leaving out the end value, the range will go on to the end of the tuple:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(t1[2:])

((12+4j), True, ['srinu'], {'set'}, {'dict': 12})

In [71]:
# Range of Negative Indexes
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
print(t1[-4:-1])

(True, ['srinu'], {'set'})

In [ ]:
7.Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [79]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
if "string" in  t1:
    print( "Yes 'string' is avvailable")

Yes 'string' is avvailable

In [ ]:
7.Update Tuples

In [ ]:
Tuples are unchangeble mean swe cannot change ,add, remove items once the tuple is created

In [ ]:
But there are some workarounds.

In [ ]:
Change Tuple Values
Once a tuple is created, you cannot change its values. 
Tuples are unchangeable, 
or immutable as it also is called.

In [ ]:
We can do onething, means first we have to convert to list  and modify  it and retrun back change the tuple

In [85]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
y=list(t1)
y[1]="List"
t1=tuple(y)
print(t1)

('string', 'List', (12+4j), True, ['srinu'], {'set'}, {'dict': 12})

In [ ]:
''Add Items''
Since tuples are immutable, they do not have a built-in append() method
but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, 
you can convert it into a list, add your item(s), and convert it back into a tuple.

In [91]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
y=list(t1)
y.append("append")
t1=tuple(y)
print(t1)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'append')

In [ ]:
9.Add a tuple to tuple:
we can add a new tuple with another tuple ,we have to add that tuple with many tuple using + operator

In [93]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
t2=("newtuple",)
t1+=t2
print(t1)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple')

In [97]:
t1=("string",1,12+4j,True,["srinu"],{"set"},{"dict":12})
t2=("newtuple",)
t3=("apple", "banana", "cherry")
t1=t1+t2+t3
print(t1)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')

In [ ]:
8.remove items:You cannot remove items in a tuple.Tuples are unchangeable,
so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple item
Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple item

In [101]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
y=list(t1)
y.remove(1)
t1=tuple(y)
print(t1)

('string', (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')

In [ ]:
The del keyword can delete the tuple completely:

In [109]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
del t1
print(t1)#this will raise an error because the tuple no longer exists

NameError: name 't1' is not defined

In [ ]:
10.Python - Unpack Tuples

In [ ]:
unpacking  a tuple:

When we create a tuple ,we normally assighn values to it.THis is called "packing" a tuple:

In [113]:
# ExampleGet your own Python Server
# Packing a tuple:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
print(t1)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')

In [ ]:
 "Unpacking":
But, in python ,we can also allowed to extract the values back into variables .This is called "Unpacking":

In [123]:
fruits = ("apple", "banana", "cherry")
(tuple,grapes,lion)=fruits
print(tuple)
print(grapes)
print(lion)#Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry

In [ ]:
11.Using Asterisk*
If the number of variables is less then the number of values ,
you can add an * to the variable name and the values will be assighned to the variable as a list;

In [125]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
(tuple,grapes,*lion)=t1
print(tuple)
print(grapes)
print(lion)

string
1
[(12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry']

In [ ]:
If the asterisk is added to another variable name than
the last, Python will assign values to the variable until
the number of values left matches the number of variables left.

In [127]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
(tuple,*grapes,lion)=t1
print(tuple)
print(grapes)
print(lion)

string
[1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana']
cherry

In [ ]:
14.Loop Tuples
Loop through a tuple:
we can loop through tuple items by using a for loop.

In [135]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
for i in t1:
    print(i)

string
1
(12+4j)
True
['srinu']
{'set'}
{'dict': 12}
newtuple
apple
banana
cherry

In [ ]:
Loop thruogh the index numbers:

we can also loop through the tuple items by reffering to their index number:
Use the len() and range() function to create a suitable iterable

In [139]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
for i in range(len(t1)):
    print(t1[i])

string
1
(12+4j)
True
['srinu']
{'set'}
{'dict': 12}
newtuple
apple
banana
cherry

In [ ]:
'''While loop'''
We can loop through the tuple items by using a while loop.

use the len() function to detaermine the length of a tuple ,then start at 0 and loop your waythrough the tuple by reffereing to their indexes
after that increase the index by 1 after each iteration

In [147]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
i=0
while i in range(len(t1)):
    print(t1[i])
    i=i+1

string
1
(12+4j)
True
['srinu']
{'set'}
{'dict': 12}
newtuple
apple
banana
cherry

In [149]:
15.Join Tuples
Join two tuples 
to join  two or more tuples you can use the + operator

SyntaxError: invalid imaginary literal (3924831875.py, line 1)

In [153]:
t1=('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry')
t2=(1,2,3)
t3=t1+t2

print(t3)

('string', 1, (12+4j), True, ['srinu'], {'set'}, {'dict': 12}, 'newtuple', 'apple', 'banana', 'cherry', 1, 2, 3)

In [ ]:
'''Multiply Tuples'''
If you want to multiply the content of a tuple a given number of times
you can use the * operator

In [159]:
t2=(1,2,3)
tuple1=t2*4
print(tuple1)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
** tuple Methods**

In [161]:
'''count'''
t=(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
print(t.count(2))

4

In [173]:
'''index'''
t1=(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
print(t1.index(2,5))# 9 starting point

7